/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./styles/themes/all" as themes;
@use "./styles/typography/config";
@use "./styles/components";
@use "./styles/themes/custom-theme";
@use "./styles/sizes";

@include mat.core();

@include mat.typography-hierarchy(config.$my-app-typography);
@include mat.core-theme(themes.$my-app-light-theme);
@include mat.button-theme(themes.$my-app-light-theme);
@include mat.icon-theme(themes.$my-app-light-theme);
@include mat.menu-theme(themes.$my-app-light-theme);

// @include components.theme(themes.$my-app-light-theme);

:root {
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
}

html,
body {
  height: 100%;
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

// ::ng-deep body {
//   color: var(--text-color) !important;
// }

// ::ng-deep table, ::ng-deep th, ::ng-deep td, ::ng-deep .mat-cell, ::ng-deep .mat-header-cell {
//   color: var(--text-color) !important;
// }

// ::ng-deep .mat-cell, ::ng-deep .mat-header-cell, ::ng-deep .mat-cell * ,::ng-deep .mat-header-cell * {
//   color: var(--text-color) !important;
// }

.button-rounded {

  &.mat-mdc-button,
  &.mat-mdc-raised-button,
  &.mdc-button--unelevated,
  &.mdc-button--outlined {
    border-radius: 25% / 50%;
  }
}